

.footer-bg {
    position: relative;
    z-index: 1;
}

.footer-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/images/bg-footer.png") !important;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.1; 
    z-index: -1;
}




.fab-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
    position: fixed; /* Changed to fixed for sticky effect */
    bottom: 30px; 
    left: 30px; /* Positioned on the left */
    transition: height 0.3s ease;
    z-index: 10;
}

.fab-container:hover {
    height: 100%;
}

.fab {
    position: relative;
    height: 70px; 
    width: 70px;
    background-color: #141211;
    outline: 1px solid #FF4B33;
    border-radius: 50%;
    z-index: 2;
}

.fab::before {
    content: " ";
    position: absolute;
    bottom: 0; 
    right: 0;
    height: 35px; 
    width: 35px;
    background-color: inherit;
    border-radius: 0 0 10px 0;
    z-index: -1;
}

.fab-content {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100%; 
    width: 100%;
    border-radius: 50%;
}

.fab-content .fa {
    color: white;
    font-size: 48px;
}

.sub-button {
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: center;
    bottom: 10px; 
    right: 10px;
    height: 50px; 
    width: 50px;
    background-color: #141211;
    border-radius: 50%;
    transition: all .3s ease;
}

.sub-button:hover {
    cursor: pointer;
    background-color: #FF4B33;;
}

.sub-button .fa {
    color: white;
    padding-top: 6px;
    
}

.fab-container:hover .sub-button:nth-child(2) {
    transform: translateY(-80px);
}

.fab-container:hover .sub-button:nth-child(3) {
    transform: translateY(-140px);
}

.fab-container:hover .sub-button:nth-child(4) {
    transform: translateY(-200px);
}

.fab-container:hover .sub-button:nth-child(5) {
    transform: translateY(-260px);
}



@media (max-width: 768px) {
    .fab {
        height: 60px; 
        width: 60px;
    }

    .fab-content .fa {
        font-size: 28px; /* Smaller icon size for mobile */
    }

    .sub-button {
        height: 45px; 
        width: 45px;
    }

    .sub-button .fa {
        font-size: 20px; /* Smaller icon size for mobile */
    }
}

@media (max-width: 480px) {
    .fab {
        height: 50px; 
        width: 50px;
    }

    .fab-content .fa {
        font-size: 24px; /* Smaller icon size for mobile */
    }

    .sub-button {
        height: 40px; 
        width: 40px;
    }

    .sub-button .fa {
        font-size: 18px; /* Smaller icon size for mobile */
    }

    .footer-area-home-3 .footer-support .footer-call span a{
        font-size: 16px;
    }

    .contact-text .font-size-1-26  a{
        font-size: 14px !important;
    }
    .message-box {
        max-width: 90%;
    }


  
}



.blog-area-home-3.b-page .blog-inner a:hover{
    color: #FF4B33 !important;
}

.blog-area-home-3 .blog-area-wrapper .blog-inner .blog-writer .blog-learn-more a:hover span{
    color: #FF4B33 !important;
}

.blog-area-home-3.b-page .blog-inner a:hover svg path{
    fill: #FF4B33 !important;
}


.blog-details-area .blog-details-inner .blog-details-post-wrapper .blog-details-post-1 ul li:nth-child(2) svg path{
    fill: white;
}

.blog-details-area .blog-details-inner .blog-details-post-wrapper .blog-details-post-1 ul li:nth-child(2) span{
    color: white;
}


.link-info {
    display: flex !important;
    padding: 2px !important;

}


.contact-area-home-3 .form-wrapper form .input-item input{
    width: 100%;
}




/* General message box styling */
.message-box {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    max-width: 300px;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Success message styling */
.message-box.success {
    background-color: #28a745; /* Green */
}

/* Error message styling */
.message-box.error {
    background-color: #FF4B33; /* Red */
}


.footer-area-home-3 .footer-wrapper .footer-item-1 span{
    display: none;
}

.offer-area-home-3{
padding-top: 0 !important;

}

.bread-crumb-area{
    padding-bottom: 0 !important;
}

#privacy-policy , #terms-of-use{
    color: white;

    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 18px;
}

.privac-info{
    display: flex;
    gap: 18px;
    flex-direction: row;
    flex-wrap: wrap;
}

.privac-info a {
    color: #FF4B33 !important;
    text-decoration: underline !important;
}


