

.footer-bg {
    position: relative;
}

.footer-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/images/bg-footer.png') !important;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.1; /* Set opacity here */
    z-index: 0;
}